.header__container {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem 8rem;
    margin: 8rem 0;
    .left {
      max-width: 700px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .heading {
        font-size: 55px;
        font-weight: 700;
      }
      .para1 {
        font-size: 25px;
        font-weight: 400;
        // line-height: 30px;
      }
      .two {
        color: rgba(0, 0, 0, 0.596);
        font-size: 20px;
      }
    }

    .right {
      .right__img {
        height: 470px;
      }
    }
  }
}
