.header__container {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100vh;

    .left {
      max-width: 800px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      .heading {
        font-size: 60px;
    font-weight: 500;
        color: #2b215f;
      }
      .para1 {
            font-size: 1.5em;
    opacity: 0.6;
        color: #2b215f;
        max-width: 700px;
      }
      .two {
        // color: rgba(0, 0, 0, 0.596);
        font-size: 20px;
      }
    }

    .right {
      .right__img {
        height: 70vh;
        margin-top: -7rem;
      }
    }
  }
}
