.product__container{
    margin: 1rem 2rem;
    .heading{
        font-size: 29px;
        font-weight: 600;
        margin: 1rem 0;
        text-align: center;
        text-transform: uppercase;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 2rem 0;
    }

    .card{
        max-width: 250px;
        box-shadow: 0px 0px 8px 2px #0000006b;
        border-radius: 6px;
        .card__img{
            height: 300px;
            width: 250px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            object-fit:cover
        }
        .card__heading{
            font-size: 23px;
            font-weight: 700;
            max-width: 250px;
            text-align: center;
            margin: 4px 0;
            padding: 0 10px;
        }
        .card__brand{
            font-size: 18px;
            font-weight: 600;
            max-width: 250px;
            text-align: center;
            color: gray;
            margin: 5px 0;
        }
       
        .card__price{
            max-width: 250px;
            text-align: center;
            color: gray;
            margin: 5px 0;
            margin-bottom: 0px;
            padding-bottom: 10px;

        }
    }
}