.copy__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3rem;
    background-color: #f7f7f7;
    color: gray;
    font-weight: 600;
    @media screen and (max-width: 600px) {
        font-size: 14px;
    padding: 10px 2rem;


      }
    .left{
        display: flex;
        align-items: center;
        gap: 5px;
        color: black;
        @media screen and (max-width: 600px) {
            gap: 0;

    
          }

        .social{
            @media screen and (max-width: 600px) {
                height: 16px;
                // margin-left: -5px;
        
              }
        }
    }
}