.opening__container {
  max-width: 1140px;
  margin: 3rem auto;

  .header {
    .heading {
      font-size: 50px;
      text-align: center;
      margin-bottom: 1rem;
      font-weight: 500;
    }
    .para {
      text-align: center;
      font-size: 20px;
      font-weight: 200;
      line-height: 30px;
    }
  }
  .openings {
    .heading {
      font-size: 44px;
      text-align: center;
      // margin: 2rem 0;
      margin-bottom: 5rem;
      font-weight: 500;
          color: #2b215fcb;

    }
    .jobs {
      //   height: 80vh;
      //   overflow: scroll;
      .job1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        .left {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .upper {
            font-size: 17px;
            opacity: 0.6;
            color: #2b215f;
          }
          .head {
            font-weight: 500;
            font-size: 19px;
            color: #2b215fcb;
          }
        }
        .right {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          .btn1 {
            font-weight: 500;
            line-height: 1;
            display: inline-block;
            padding: 1em 3.21em;
            text-decoration: none;
            text-transform: uppercase;
            outline: none;
            background: linear-gradient(
              90deg,
              rgba(14, 161, 118, 1) 0%,
              rgba(7, 145, 195, 1) 32%,
              rgba(6, 146, 191, 1) 44%,
              rgba(0, 134, 255, 1) 63%,
              rgba(87, 35, 157, 1) 100%
            );
            color: #fff;
            border-radius: 1.92em;
            border: none;
            font-size: 14px;
            -webkit-transition: all 0.6s ease-out 0s;
          }
        }
      }
    }
  }


}
